.about {
    @extend .body;

    &__container {
        @extend .container;
    }

    &__about, &__privacy, &__changelog {
        @extend .section;

        &__heading {
            @extend .heading2;
        }

        &__content {
            @extend .article;

            &__header {
                display: flex;
                justify-content: space-between;
            }
            
            &__heading {
                @extend .heading3;
            }

            &__subHeading {
                @extend .heading4;
            }

            &__list {
                list-style-type: none;
                padding: 0 16px;
            }

            &__paragraph {
                @extend .paragraph;
            }

        }
    }
}