
.footer {
    @extend .foot;

    &__container {
        @extend .foot__container;
    }

    &__content {
        display: grid;
        grid-template-columns: 1fr 102px 172px;
        gap: 48px;

        &__about, &__site, &__contact {
            display: flex;
            flex-direction: column;
            
            &__heading {
                padding-bottom: 10px;
            }

            &__desc { 
                padding: 6px 0px;
                text-align: justify;
                line-height: 1.5;
                font-size: 16px;
                font-weight: 300;
            }

            &__link {
                display: flex;
                flex-shrink: 0;
                align-items: center;
                margin-bottom: 8px;
                padding: 6px 0px;
                font-size: 16px;
                font-weight: 300;

                &--active {
                    color: #23A8E4;
                    font-weight: 500;
                }

                &:hover {
                    transition: .2s;
                    color: #23A8E4;
                }

                > svg {
                    flex-shrink: 0;
                    fill: #E2E2E2;
                }
                > span {
                    padding-left: 8px;
                }

                &--discord {
                    &:hover {
                        > svg {
                            transition: .2s;
                            fill: #7289DA;
                        }

                        > span {
                            transition: .2s;
                            color: #7289DA;
                        }
                    }
                }

                &--github {
                    &:hover {
                        > svg {
                            transition: .2s;
                            fill: #2ebc4f;
                        }

                        > span {
                            transition: .2s;
                            color: #2ebc4f;
                        }
                    }
                }

                &--personal {
                    &:hover {
                        > svg {
                            transition: .2s;
                            fill: #E31B6D;
                        }

                        > span {
                            transition: .2s;
                            color: #E31B6D;
                        }
                    }
                }
            }
        }
    }

    &__copy {
        text-align: center;
        padding-top: 64px;
        text-transform: uppercase;
        color: #C7C7C7;
        font-size: 13px;

        &__year {
            color: #E31B6D;
        }
    }
}

@media only screen and (max-width: 800px) {
    .footer {
        &__content {
            grid-template-columns: repeat(auto-fill, minmax(172px, 1fr));
            gap: 24px;
    
            &__about {
                grid-column: 1 / -1;
            }
        }

        &__copy {
            padding-top: 32px;
        }
    }

}