.home {
    @extend .body;

    &__container {
        @extend .mainContainer;
        height: 100%;
    }

    &__banner {
        @extend .section;

        &__heading {
            @extend .heading1;
        }

        &__content {
            &__heading {
                color: #C7C7C7;
                font-size: 17px;
                font-weight: 300;
                line-height: 2.2;
                letter-spacing: 1px;
            }

            &__buttons {
                padding-top: 72px;
            }

            &__callToAction {
                text-shadow: 0 3px 6px rgba($color: #000000, $alpha: .6);
                border-radius: 16px;
                padding: 12px 24px;
                background: linear-gradient(to bottom right, #23A8E4, #1594CE);
                font-weight: 400;
                letter-spacing: 1px;
                font-size: 13px;
                color: #FFFFFF;
            }

            &__subButton {
                border-radius: 16px;
                padding: 12px 24px;
                font-weight: 400;
                letter-spacing: 1px;
                font-size: 13px;
                color: #C7C7C7;
            }
        }
    }
}

@media only screen and (max-width: 800px) {
    .home {
        &__banner {
            &__content {
                &__heading {
                    font-size: 16px;
                    font-weight: 300;
                    line-height: 1.5;
                    letter-spacing: .6px;
                }

                &__callToAction {
                    font-size: 12px;
                    padding: 12px 20px;
                }
    
                &__subButton {
                    font-size: 12px;
                    padding: 12px 20px;
                }
            }
        }
    }
}