.optimize {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 128px 24px;
    background: linear-gradient(to bottom right, #222830, #161C23);
}
