$secondary-background: #151A20;
$header-padding: 12px 24px;
$main-padding: 0px 24px;
$footer-padding: 72px 24px;

.body {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom right, #222830, #161C23);
    min-height: 100vh;
    
}

.foot {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    background: $secondary-background;
}

.navContainer {
    padding: 6px 24px;
}

.mainContainer {
    max-width: 1020px;
    padding: 72px 24px;
}

.container {
    max-width: 800px;
    padding: 72px 24px;
}

.footContainer {
    max-width: 1200px;
    padding: 72px 24px;
}

.section {
    padding-top: 32px;
    padding-bottom: 12px;
}

.article {
    padding: 24px;
    margin-bottom: 24px;
    background: rgba($color: #FFFFFF, $alpha: .025);
}

.heading1 {
    padding-bottom: 22px;
    text-shadow: 0 3px 6px rgba($color: #000000, $alpha: .6);
    line-height: 1.4;
    color: #23A8E4;
    font-size: 54px;
    font-weight: 900;
}

.heading2 {
    padding-bottom: 18px;
    text-shadow: 0 3px 6px rgba($color: #000000, $alpha: .6);
    color: #23A8E4;
    font-size: 48px;
    font-weight: 600;
}

.heading3 {
    padding-bottom: 16px;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 20px;
    text-shadow: 0 2px 4px rgba($color: #000000, $alpha: .6);
}

.heading4 {
    padding-bottom: 8px;
    font-weight: 400;
    font-size: 18px;
}

.paragraph {
    padding-bottom: 14px;
    font-weight: 300;
    line-height: 2;
}

@media only screen and (max-width: 1200px) {
    .article {
        padding: 8px;
        margin-bottom: 12px;
    }
    
    .navContainer {
        padding: 6px 8px;
    }

    .container {
        padding: 72px 8px 32px 8px;
    }

    .mainContainer {
        padding: 72px 8px 72px 8px;
    }

    .footContainer {
        padding: 32px 8px;
    }
    
    .heading1 {
        font-size: 34px;
        font-weight: 700;
    }

    .heading2 {
        font-size: 28px;
        font-weight: 500;
    }
    
    .heading3 {
        font-weight: 400;
        font-size: 20px;
    }
    
    .heading4 {
        font-weight: 400;
        font-size: 18px;
    }
}

@media only screen and (max-width: 350px) {
    .heading1 {
        font-size: 28px;
        font-weight: 700;
    }
}