$secondary-background: #151A20;
$header-padding: 12px 24px;
$main-padding: 0px 24px;
$footer-padding: 72px 24px;

.body {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom right, #222830, #161C23);
    min-height: 100vh;
    padding-top: 58px;
}

.container {
    max-width: 800px;
    padding: 72px 24px;
}

.section {
    padding-bottom: 12px;
}

.article {
    padding: 24px;
    margin-bottom: 24px;
    background: rgba($color: #FFFFFF, $alpha: .025);
}

.heading2 {
    padding-bottom: 18px;
    text-shadow: 0 3px 6px rgba($color: #000000, $alpha: .6);
    color: #23A8E4;
    font-size: 48px;
    font-weight: 600;
}

.heading3 {
    padding-bottom: 16px;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 20px;
    text-shadow: 0 2px 4px rgba($color: #000000, $alpha: .6);
}

.heading4 {
    padding-bottom: 16px;
    font-weight: 400;
    font-size: 16px;
}

.paragraph {
    padding-bottom: 14px;
    text-align: justify;
    font-weight: 300;
    line-height: 2;
}

@media only screen and (max-width: 600px) {
    .container {
        padding: 72px 12px;
    }
    
    .article {
        padding: 12px;
    }
  }