.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #151A20;
  padding: 72px 24px;
}

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1600px;
}

.footer__content__block {
  padding: 0px 48px;
}

.footer__content__about {
  max-width: 650px;
}

.footer__content__about__heading {
  padding-bottom: 10px;
}

.footer__content__about__desc {
  padding: 6px 0px;
  text-align: justify;
  line-height: 1.5;
  font-size: 16px;
  font-weight: 300;
}

.footer__content__site {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__content__site__heading {
  padding-bottom: 10px;
}

.footer__content__site__link {
  padding: 6px 0px;
  font-size: 16px;
  font-weight: 300;
}

.footer__content__site__link--active {
  color: #23A8E4;
  font-weight: 500;
}

.footer__content__site__link:hover {
  -webkit-transition: .2s;
  transition: .2s;
  color: #23A8E4;
}

.footer__content__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__content__contact__heading {
  padding-bottom: 10px;
}

.footer__content__contact__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 8px;
  padding: 6px 0px;
  font-size: 16px;
  font-weight: 300;
}

.footer__content__contact__link > svg {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  fill: #E2E2E2;
}

.footer__content__contact__link > span {
  padding-left: 8px;
}

.footer__content__contact__link--discord:hover > svg {
  -webkit-transition: .2s;
  transition: .2s;
  fill: #7289DA;
}

.footer__content__contact__link--discord:hover > span {
  -webkit-transition: .2s;
  transition: .2s;
  color: #7289DA;
}

.footer__content__contact__link--github:hover > svg {
  -webkit-transition: .2s;
  transition: .2s;
  fill: #2ebc4f;
}

.footer__content__contact__link--github:hover > span {
  -webkit-transition: .2s;
  transition: .2s;
  color: #2ebc4f;
}

.footer__content__contact__link--personal:hover > svg {
  -webkit-transition: .2s;
  transition: .2s;
  fill: #E31B6D;
}

.footer__content__contact__link--personal:hover > span {
  -webkit-transition: .2s;
  transition: .2s;
  color: #E31B6D;
}

.footer__copy {
  padding-top: 64px;
  text-transform: uppercase;
  color: #C7C7C7;
  font-size: 13px;
}

.footer__copy__year {
  color: #E31B6D;
}
/*# sourceMappingURL=footer.css.map */